extends layout

block content
  h1= title
  p Here are some Hello World level experiments with Infrura

  p Are we connected to Infura? #{isConnected}

  h2 Info on transactions:
  form(action="/transaction")
    label(
      for="txn_id"
      ) Txn ID:
    input(
      type="text"
      name="txn_id"
      id="txn_id"
      )
    button(
      id="txn_submit"
      ) Search >
