extends layout

block content
  h1= title
  p Hello-World-level experiments with Etherium and Infura

  p Are we connected to Etherium's #{network}? #{isConnected}

  h2 Info on transactions:
  form(action="/transaction")
    label(
      for="txn_id"
      ) Txn ID:
    input(
      type="text"
      name="txn_id"
      id="txn_id"
      )
    button(
      id="txn_submit"
      ) Search >
